<h1 class = "title"> New Post </h1>
<%= form_for :post , url: posts_path do |f| %>
<p>
  <h3><%= f.label :title  %><br></h3>
  <%= f.text_field :title, :class =>'title'  %>
</p>
<p>
  <h4> <%= f.label :body %></h4><br>
  <%= f.text_field :body, :class =>'text_field_body' %>
</p>

<p >
  <%= f.submit 'Submit', :class =>'submit_button' %>
</p>
<% end %>
