<p class= "title">
  <h1><%= @post.title %></h1>
</p>

<p class ="date">
  Submitted <%= time_ago_in_words(@post.created_at)%> Ago
  |<%= link_to "edit", edit_post_path %>
  |<%= link_to "delete", post_path(@post), method: :delete %>
</p>
 
<p class= "body">
  <%= @post.body %>
</p>
