<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  
</head>
<body>

  

  <div class ="container">
      <div class ="header_logo">
        <h1 class ="blog_name">
	  The Blogger
	 </h1>
      </div>
    <div class = " menu_navs">    
          <ul>
               <li><%= link_to "About", "/pages/about" %></li>
               <li><%= link_to "Blogs", "/posts" %></li>
               <li><%= link_to "Home ", root_path %></li>
               
               
	  	
	 <li> <% if user_signed_in? %>
	      <%= link_to "New Post", new_post_path, :class=> 'link-to-text-color' %>
	  <% end %>
	  <% if !user_signed_in?%>
	      <%= link_to('Login', new_user_session_path) %>
             <% end %>
	 </li>
	 </ul>
    </div>
    </div>
      <div id = "content">
	<%= yield %>
	<br>
      </div>
   </div>
</div>

<div class = "footer">
  <div class = "footer_left">
    <ul>
      <li>
	   <a href ="https://www.facebook.com">Facebook</a>
      </li>
      <li><a href ="https://www.twitter.com">Twitter</a>
     </ul>
  </div>
  <div class ="footer_right vertical">
    <ul>
      <li>
  <% if user_signed_in? %>
        <%= link_to "LogOut", destroy_user_session_path, :method => :delete %>
	<% end%>
      </li>
      </ul>
  </div>
  
  </div>
</body>
</html>
